{% extends 'base.html.twig' %}
{% block title %}Points Board{% endblock %}
{% block stylesheets %}
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <style>
        .input-sm{
            margin-left: 0 !important;
        }
    </style>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/points-board">Current Points Board</a></li>
                    {% if userId == 0 %}
                        <li><a href="/login">Login</a></li>
                        {% else %}
                        <li><a href="/user/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container-fluid" style="margin-top: 10%;">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Points Board </h2>
                <h4>{{ publicIdCount }} Public Id's</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-bordered table-hover table-header-fixed" width="100%" id="points-board-table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Public Id</th>
                        <th>Points</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>


    </div>
{% endblock %}
{% block javascripts %}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        var table = $('#points-board-table');
        var oTable = $('#points-board-table').DataTable({
            fixedHeader: {
                header: true,
            },
            "bProcessing": true,
            "bServerSide": true,
            "fnDrawCallback": function( oSettings ) {

            },
            "sAjaxSource": "/main/table/points-board",
            "fnServerParams": function ( aoData ) {
                aoData.push( { "name": "isAdmin", "value": false } );
            },

            responsive: {
                details: {

                }
            },
            language: {
                searchPlaceholder: "Search By ID",
                "search": ""
            },
            "bPaginate": false,
            "iDisplayLength": 20,
            /*"lengthMenu": [
                [20, 500, 1000, -1],
                [20, 500, 1000, "All"] // change per page values here
            ],
            */
            "columnDefs": [
                {
                    'visible': false,
                    'targets': 0
                }
            ],
            "order": [[ 2, "desc" ]],
            select: {
                style: 'os',
                selector: 'td:first-child'
            },
            //dom: '<"wrapper"lBfrtip>',
            //dom: '<lB<frt>ip>',
            "dom": "<'row' <'col-md-12 pull-left'f>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>"

        });

    });
</script>
{% endblock %}